---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<h3 class="archive__subtitle">{{"About Me"}}</h3>

<div class = "archive__item-caption" style = "font-size: $type-size-5">
{{
  "
    Hello, my name is Brandon and I am a current PhD student at the School of Computing and Information Systems, the Univesity of Melbourne.
    My research currently focuses on Human-Computer Interaction and Augmented Reality (AR), but my interests encompass a range of topics such as Artificial Intelligence,
    Machine Learning, Human-AI Interaction, Data Analysis and Cognitive Psychology.
  "
}}
</div>

<h4 class = "archive__item-title">{{"Origins"}}</h4>

    <!-- I belong to a small ethnic group of people called the *Khasi*, hailing from the state of *Meghalaya* in North East India.
    My interest in computer science developed in school when I was introduced to my first ever programming language (QBasic).
    I went on to complete a Bachelor of Technology (Information Technology) degree from the North Eastern Hill University (NEHU), located in Meghalaya.


    I hail from a small town called *Shillong*, located in the state of *Meghalaya* in North East India.
    Meghalaya is home to many ethnic groups and I belong to one such ethnic group, the Khasi Tribe, that calls this region home.
    My facination with computers started in school when I was introduced to my first ever programming language (QBasic).
    I lived in Shillong until I completed my Bachelor of Technology (Information Technology) degree from the North Eastern Hill University (NEHU),
    after which I decided to pursue my Master's degree in Computer Science.

    is known for its natural beaty and intricate cave networks.



    North East India is well known for the different ethnic groups that inhabit it and being a part of one of these ethnic groups
    After completing a Bachelor of Technology (Information Technology) degree in Shillong, I decided to
    This landed me at the University of Melbourne, and for a young man that
    I completed my 4 year Bachelor of Technology (Information Technology) degree in India where I oricame to Melbourne from India in the year 2016 to pursue a master's degree in Computer Science.
    I completed the degree with distinction in 2017 and found a new
  "
}} -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
